*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/RWKV-5-ABC-82M-v1-20230901-ctx1024-ncnn.bin
/app/src/main/assets/RWKV-5-ABC-82M-v1-20230901-ctx1024-ncnn.config
/app/src/main/assets/RWKV-5-ABC-82M-v1-20230901-ctx1024-ncnn.param